* {
    box-sizing: border-box;
}

Body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    margin: 0;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

header {
    background-color: #ffffff;
    color: #000000;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box img {
    width: 100%; 
}

.header-box ul {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    list-style: none;
    gap: 20px;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.promo-img {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 10px;
}

.promo-img :nth-child(1){
    grid-column: 1 / 4;
}

.promo-img :nth-child(2){
    grid-column: 1 / 2;
}

.promo-img :nth-child(3){
    grid-column: 2 / 3;
}

.promo-img :nth-child(4){
    grid-column: 3 / 4;
}

.promo-img img {
    border-radius: 10px;
}

.promotions-description 
.limited {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.promotions-description 
.list {
    margin-top: auto;
}

.promotions-description a:link,
.promotions-description a:visited {
    display: inline-block;
    padding: .8em 1em;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px black;
    margin-top: auto;
}

.promotions-description a:hover,
.promotions-description a:focus {
    background-color: #fff;
    color: black;
}

.promotions-description .btn {
    border-radius: 10px;
}

.about-us-box {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.about-us-box h2 {
    text-align: center;
    padding-top: 20px;
}

.testimonials-box {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.testimonials-box h2 {
    text-align: center;
    padding-top: 20px;
}

.quote {
    padding-top: 20px;
    padding-bottom: 20px;
}

.name {
    font-style: italic;
}

.try-it-box {
    display: flex;
    flex-direction: column;
}

.try-it-box h2 {
    text-align: center;
    padding: 20px;
}

.try-it {
    border-radius: 10px 10px 0 0;
}

.try-it-price {
    text-align: center;
    background-color: #fafafa;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.try-it-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    try-it-1 try-it-2
    try-it-3 try-it-4;
    gap: 10px;
}

.try-it-container {
    grid-area: try-it-1;
}

.try-it-container {
    grid-area: try-it-2;
}

.try-it-container {
    grid-area: try-it-3;
}

.try-it-container {
    grid-area: try-it-4;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.986rem;
    }
    h2 {
        font-size: 2.488rem;
    }
    h3 {
        font-size: 2.074rem;
    }
    
    .promo-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .promo-img :nth-child(1){
        grid-column: 1 / 2;
    }

    .promo-img :nth-child(2){
        grid-column: 2 / 3;
    }

    .promo-img :nth-child(3){
        grid-column: 1 / 2;
    }

    .promo-img :nth-child(4){
        grid-column: 2 / 3;
    }

    .behind {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }
    
    .tesimonials :nth-child(1){
        grid-column: 1 / 2;
    }

    .tesimonials :nth-child(2){
        grid-column: 2 / 3;
    }

    .tesimonials :nth-child(3){
        grid-column: 3 / 4;
    }


    .try-it-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .try-it-container div:nth-child(1){
        grid-column: 1 / 2;
    }

    .try-it-container div:nth-child(2){
        grid-column: 2 / 3;
    }

    .try-it-container div:nth-child(3){
        grid-column: 3 / 4;
    }

    .try-it-container div:nth-child(4){
        grid-column: 4 / 5;
    }
}

@media screen and (min-width: 960px){
    h1 {
        font-size: 3.815rem;
    }
    h2 {
        font-size: 3.052rem;
    }
    h3 {
        font-size: 2.441rem;
    }
    .promotions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }


    .behind {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }
    
    .tesimonials :nth-child(1){
        grid-column: 1 / 2;
    }

    .tesimonials :nth-child(2){
        grid-column: 2 / 3;
    }

    .tesimonials :nth-child(3){
        grid-column: 3 / 4;
    }


    .try-it-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .try-it-container div:nth-child(1){
        grid-column: 1 / 2;
    }

    .try-it-container div:nth-child(2){
        grid-column: 2 / 3;
    }

    .try-it-container div:nth-child(3){
        grid-column: 3 / 4;
    }

    .try-it-container div:nth-child(4){
        grid-column: 4 / 5;
    }
}